SERVER_NAME=MyVPN
SERVER_IP=127.0.0.1
SERVER_HOST=127.0.0.1
SERVER_NIC=eth0
VPN_SUB_HOST=0.0.0.0
SUB_PORT=8000
VPN_ADMIN_HOST=127.0.0.1
VPN_ADMIN_PORT=8081
VPN_FIREWALL_ENABLE=1
VPN_FAIL2BAN_ENABLE=1
VPN_SSH_PORT=22
VPN_SSH_ALLOW_USERS=root
VPN_SSH_PASSWORD_ONLY=1
XRAY_PORT_REALITY=443
XRAY_PORT_REALITY_ALT=47043
XRAY_PORT_XHTTP=8443
XRAY_PORT_XHTTP_CDN=39090
XRAY_PORT_WS=8444
XRAY_PORT_GRPC=8445
XRAY_PORT_VMESS=8446
XRAY_API_LISTEN=127.0.0.1:10085
XRAY_CDN_DOMAIN=
XRAY_REALITY_SNI=www.microsoft.com
XRAY_REALITY_FINGERPRINT=chrome
XRAY_REALITY_TARGET=www.microsoft.com:443
XRAY_REALITY_PUBLIC_KEY=CHANGE_ME
XRAY_REALITY_PRIVATE_KEY=CHANGE_ME
XRAY_REALITY_SHORT_ID=0123456789abcdef
XRAY_XHTTP_PATH=/vless-xhttp
XRAY_WS_PATH=/vless-ws
XRAY_GRPC_SERVICE=vless-grpc
XRAY_VMESS_WS_PATH=/vmess-ws
HY2_PORT=443
HY2_TLS_SNI=127.0.0.1
HY2_OBFS_PASSWORD=CHANGE_ME
HY2_UP_MBPS=100
HY2_DOWN_MBPS=100
HY2_MASQUERADE_URL=https://www.microsoft.com/
HY2_PIN_SHA256=CHANGE_ME
HY2_CERT_PATH=/etc/hysteria/server.crt
HY2_KEY_PATH=/etc/hysteria/server.key
HY2_CONFIG_PATH=/etc/hysteria/config.yaml
SS2022_PORT=8388
SS2022_KEY=CHANGE_ME
SS2022_CONFIG_PATH=/etc/sing-box/ss2022.json
TUIC_PORT=8448
TUIC_CONGESTION_CONTROL=bbr
TUIC_CONFIG_PATH=/etc/sing-box/tuic.json
XRAY_WARP_ENABLE=0
XRAY_WARP_PORT=40000
XRAY_WARP_DOMAINS=gemini.google.com,aistudio.google.com,generativelanguage.googleapis.com
HTTP_PROXY_PORT=8080
SOCKS5_PROXY_PORT=1080
HTTPS_PROXY_PORT=8449
PROXY_TLS_DOMAIN=
PROXY_TLS_READY=0
PROXY_TLS_CERT_PATH=
PROXY_TLS_KEY_PATH=
PROXY_TLS_CONFIG_PATH=/etc/stunnel/https-proxy.conf
MTPROTO_PORT=8447
MTPROTO_SECRET=CHANGE_ME
MTPROTO_DOMAIN=www.cloudflare.com
MTPROTO_PREFER_IP=prefer-ipv4
WG_SERVER_PORT=51820
WG_SERVER_PRIVATE_KEY=CHANGE_ME
WG_SERVER_PUBLIC_KEY=CHANGE_ME
WG_SERVER_ADDRESS=10.66.0.1/24
WG_SERVER_ADDRESS6=fd10:66::1/64
WG_CLIENT_NET=10.66.0.0/24
WG_CLIENT_NET6=fd10:66::/64
WG_DNS=1.1.1.1,8.8.8.8
AWG_JC=5
AWG_JMIN=32
AWG_JMAX=128
AWG_S1=64
AWG_S2=96
AWG_H1=1234567891
AWG_H2=1234567892
AWG_H3=1234567893
AWG_H4=1234567894
XRAY_CONFIG_PATH=/usr/local/etc/xray/config.json
THREEPROXY_CONFIG_PATH=/etc/3proxy/3proxy.cfg
WG_SERVER_CONFIG_PATH=/etc/wireguard/wg0.conf
AWG_SERVER_CONFIG_PATH=/etc/amnezia/awg0.conf
VPN_PANEL_TOKEN=CHANGE_ME
BOT_TOKEN=
ADMIN_CHAT_ID=
